.card {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 800px;
}


@media (min-width: 750px) {
    .card {
        border-radius: 32px;
        display: flex;
        flex-direction: row;
        width: 736px;
        height: 512px;
        border-radius: 32px;
        overflow: hidden;

        & > div {
            flex-grow: 1;
            border-radius: 32px;
        }
    }
}