@import './colors';
@import './typography';

.card {
    @include bg-gradient-1;
    display: flex;
    position:fixed;
    flex-direction: column;
    width: 100%;
    flex-grow: 5;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 453px;
    padding-top: 24px;
    padding-bottom: 40px;
    box-sizing: border-box;
    border-radius: 0px 0px 32px 32px;
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);

    & > h1 {
        @include HeadingM;
        color: $LightBlue;
        display: block;
    }

    & > h2 {
        @include HeadingL;
        color: white;
        display: block;
        margin-bottom: 8px;
    }
    
    & > p {
        @include Body;
        color: $LightBlue;
        display: block;
        width: 260px;
        text-align: center;
    }
}