@import './colors';
@import './typography';
@import './screens';

.categoryCard {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.card {
    
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    // gap: 16px;

    & > h1 {
        @include HeadingM;
        justify-self: flex-start;
        margin-bottom: 24px;
    }


    & > button {
        background-color: $DarkNavy;
        justify-self: flex-end;
        margin-top: auto;
        @include Body_Bold;
        border-radius: 128px;
        border: 0;
        // padding: 17px auto 16px auto;
    padding-top: 17px;
    padding-bottom: 16px;
        color: white;
        outline: none;

    &:hover {
        @include bg-gradient-1;
        cursor: pointer;
    }
    }
}

.reaction {
    color: $Red;
    @include red-95-white;
}

.memory {
    color: $Yellow;
    @include yellow-95-white;
}

.verbal {
    color: $Green;
    @include green-95-white;
}

.visual {
    color: $Blue;
    @include blue-95-white;
}


@media (min-width: $Desktop) {

.card {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 38px;
    padding-bottom: 46px;
    display: flex;
    flex-direction: column;
    // gap: 16px;

    & > h1 {
        @include HeadingM;
    }


    & > button {
        background-color: $DarkNavy;
        @include Body_Bold;
        border-radius: 128px;
        border: 0;
        // padding: 17px auto 16px auto;
        color: white;
        outline: none;

    &:hover {
        @include bg-gradient-1;
        cursor: pointer;
    }
    }
}
}