@import './colors';
@import './typography';

.card {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 24px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > h1 {
        @include HeadingM;
        margin-bottom: 8px;
    }


    & > button {
        background-color: $DarkNavy;
        margin-top: 8px;
        @include Body_Bold;
        border-radius: 128px;
        border: 0;
        padding-top: 16px;
        padding-bottom: 16px;
        color: white;
        outline: none;

    &:hover {
        @include bg-gradient-1;
        cursor: pointer;
    }
    }
}

.reaction {
    color: $Red;
    @include red-95-white;
}

.memory {
    color: $Yellow;
    @include yellow-95-white;
}

.verbal {
    color: $Green;
    @include green-95-white;
}

.visual {
    color: $Blue;
    @include blue-95-white;
}